<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mixal.edits">

    <application>
        <activity
            android:name="me.mixal.edits.editor.EditImageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:label="@string/library_name"
            android:launchMode="singleTask" />

        <activity
            android:name="me.mixal.edits.chooser.SelectPictureActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize|smallestScreenSize|screenLayout|navigation"
            android:label="@string/not_selected"
            android:launchMode="singleTask"/>
    </application>

</manifest>
